﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<header class="default-header">
    <nav class="navbar navbar-expand-lg  navbar-light">
        <div class="container">
            <a class="navbar-brand" href="@Url.Action("Index", "Apps")">
                <img src="~/images/logo1.png" alt="">
                @Localizer["Department"]
            </a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="lnr lnr-menu"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end align-items-center" id="navbarSupportedContent">
                <ul class="navbar-nav">
                    <li><a href="@Url.Action("Index", "Apps")#home">@Localizer["Home"]</a></li>
                    <li><a href="@Url.Action("Index", "Apps")#feature">@Localizer["Feature"]</a></li>
                    <li><a href="@Url.Action("Index", "Apps")#news">@Localizer["News"]</a></li>
                    <li><a href="@Url.Action("Index", "Apps")#price">@Localizer["About"]</a></li>
                    <li><a href="@Url.Action("Index", "Apps")#faq">@Localizer["FAQ"]</a></li>
                    <!-- Dropdown -->
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            @Localizer["Pages"]
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="@Url.Action("Generic", "Apps")">Generic</a>
                            <a class="dropdown-item" href="@Url.Action("Elements", "Apps")">Elements</a>
                        </div>
                    </li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                            @Localizer["Lang"]
                        </a>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="\?culture=en">En</a>
                            <a class="dropdown-item" href="\?culture=uk">Ua</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>