﻿@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<!DOCTYPE html>
<html lang="zxx" class="no-js">
<head>
    <!-- Mobile Specific Meta -->
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Author Meta -->
    <meta name="author" content="colorlib">
    <!-- Meta Description -->
    <meta name="description" content="">
    <!-- Meta Keyword -->
    <meta name="keywords" content="">
    <!-- meta character set -->
    <meta charset="UTF-8">
    <!-- Site Title -->
    <title>AI</title>
    <link rel="shortcut icon" href="~/favicon.ico">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" href="~/template/apps/css/linearicons.css">
    <link rel="stylesheet" href="~/template/apps/css/font-awesome.min.css">
    <link rel="stylesheet" href="~/template/apps/css/bootstrap.css">
    <link rel="stylesheet" href="~/template/apps/css/magnific-popup.css">
    <link rel="stylesheet" href="~/template/apps/css/owl.carousel.css">
    <link rel="stylesheet" href="~/template/apps/css/hexagons.min.css">
    <link rel="stylesheet" href="~/template/apps/css/main.css">
</head>
<body>
    <!-- start banner Area -->
    <section class="banner-area" id="home">
        <!-- Start Header Area -->
        @await Html.PartialAsync("_header")
        <!-- End Header Area -->
        <div class="container">
            <div class="row justify-content-end fullscreen align-items-center">
                <div class="col-lg-6 col-md-12 banner-left">
                    <h1 class="text-white">
                        @Localizer["Department1"] <br>
                        @Localizer["Department2"]
                    </h1>
                    <p class="mx-auto text-white  mt-20 mb-40">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp <br> or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
                    </p>
                </div>
                <div class="col-lg-6 col-md-12 no-padding banner-right">
                    <img class="img-fluid" src="~/template/apps/img/ai-img.svg" alt="">
                </div>
            </div>
        </div>
    </section>
    <!-- End banner Area -->
    @RenderBody()
    <!-- start footer Area -->
    @await Html.PartialAsync("_footer")
    <!-- End footer Area -->
    <script src="~/template/apps/js/vendor/jquery-2.2.4.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" integrity="sha384-b/U6ypiBEHpOf/4+1nzFpr53nxSS+GLCkfwBdFNTxtclqqenISfwAzpKaMNFNmj4" crossorigin="anonymous"></script>
    <script src="~/template/apps/js/vendor/bootstrap.min.js"></script>
    <script src="~/template/apps/js/jquery.ajaxchimp.min.js"></script>
    <script src="~/template/apps/js/jquery.magnific-popup.min.js"></script>
    <script src="~/template/apps/js/parallax.min.js"></script>
    <script src="~/template/apps/js/owl.carousel.min.js"></script>
    <script src="~/template/apps/js/jquery.sticky.js"></script>
    <script src="~/template/apps/js/hexagons.min.js"></script>
    <script src="~/template/apps/js/jquery.counterup.min.js"></script>
    <script src="~/template/apps/js/waypoints.min.js"></script>
    <script src="~/template/apps/js/main.js"></script>
</body>
</html>